<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BASE URL</key>
	<string>$(BASE_URL)</string>
	<key>ENV</key>
	<string>$(ENV)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(VERSION)</string>
	<key>CFBundleDisplayName</key>
	<string>$(APP_NAME)</string>
	<key>LSHasLocalizedDisplayName</key>
	<true/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UILaunchScreen</key>
	<dict>
		<key>BackgroundColor</key>
		<string>#FFFFFF</string>
		<key>ImageName</key>
		<string>LaunchScreen</string>
	</dict>
	<key>CFBundleVersion</key>
	<string>$(BUILD)</string>
</dict>
</plist>
